import React, { FC } from "react";
import { PageContainer } from "@ant-design/pro-layout";

import @@ .NameCamel @@TableContainer from "./containers/Table";

const Component: FC = () => {
    return (
      <PageContainer>
        <@@ .NameCamel @@TableContainer  />
      </PageContainer>
    );
  };
export default Component;
