import React from "react";
import { RouteComponentProps } from "react-router-dom";

import { PageContainer } from "@ant-design/pro-layout";
import useNavigator from "@/hooks/useNavigator";

import { @@ .NameLowerCamel @@ListPath } from "./urls";
import @@ .NameCamel @@Detail from "./containers/Detail";


export const @@ .NameCamel @@Update: React.FC<RouteComponentProps<any>> = ({ match }) => {
  const navigate = useNavigator();

  const handleBack = () => navigate(@@ .NameLowerCamel @@ListPath);

  return (
    <PageContainer
      header={{
        onBack: handleBack,
      }}
    >
      <@@ .NameCamel @@Detail
        type="edit"
        id={@@- if eq .PrimaryKeyField.MetaType.TSType "number" @@Number(@@- end @@decodeURIComponent(match.params.id)@@- if eq .PrimaryKeyField.MetaType.TSType "number" @@)@@- end @@}
      />
    </PageContainer>
  );
};

export default @@ .NameCamel @@Update;
