import urlJoin from "url-join";
import { Scalars } from "@/generated/graphql";

const @@ .NameLowerCamel @@Section = "/@@ .NameLowerCamel @@/";

export const @@ .NameLowerCamel @@AddPath = urlJoin(@@ .NameLowerCamel @@Section, "add");
export const @@ .NameLowerCamel @@EditPath = urlJoin(@@ .NameLowerCamel @@Section, "edit/");
export const @@ .NameLowerCamel @@AddUrl = @@ .NameLowerCamel @@AddPath;
export const @@ .NameLowerCamel @@ListPath = urlJoin(@@ .NameLowerCamel @@Section, "list");

export const @@ .NameLowerCamel @@Path = (id: Scalars['ID']) => urlJoin(@@ .NameLowerCamel @@EditPath + id);

export const @@ .NameLowerCamel @@Url = (id: Scalars['ID']) => @@ .NameLowerCamel @@Path(encodeURIComponent(id));