
export type Dialog<TDialog extends string> = Partial<{
    action: TDialog;
}>;

export type BulkAction = Partial<{
    ids: string[];
}>;

export type TabActionDialog = "save-search" | "delete-search";
export type Filters<TFilters extends string> = Partial<
    Record<TFilters, string>
>;
export type FiltersWithMultipleValues<TFilters extends string> = Partial<
    Record<TFilters, string[]>
>;
export type FiltersAsDictWithMultipleValues<TFilters extends string> = Partial<
    Record<TFilters, Record<string, string[]>>
>;

export type Pagination = Partial<{
    after: string;
    before: string;
}>;
export type Sort<TSort extends string = string> = Partial<{
    asc: boolean;
    sort: TSort;
}>;

export enum PermissionEnum {
@@- range $table := .Tables@@
    Perm@@$table.NameCamel@@List = "@@$table.NameLowerCamel@@:list",
    Perm@@$table.NameCamel@@Create = "@@$table.NameLowerCamel@@:create",
    Perm@@$table.NameCamel@@Get = "@@$table.NameLowerCamel@@:get",
    Perm@@$table.NameCamel@@Update = "@@$table.NameLowerCamel@@:update",
    Perm@@$table.NameCamel@@Delete = "@@$table.NameLowerCamel@@:delete",
@@- end @@

}
