@@- $extra := .Extra @@
{
  "global.btn.create": "Create",
  "global.btn.edit": "Edit",
  "global.btn.delete": "Delete",
  "global.btn.submit": "Submit",
  "global.btn.batchDeletion": "Batch Deletion",
  "global.menu.home": "Home",
  "global.menu.dashboard": "Dashboard",
  "global.menu.notfound": "Not Found",
  "global.tips.chosen": "Chosen {count} item",
  "global.tips.notfound": "Sorry, the page you visited does not exist.",
  "global.tips.unauthorized": "Sorry, you are not authorized to access this page.",
  "global.tips.loginResult": "When you see this page, it means you are logged in.",
  "global.tips.goToLogin": "Go To Login",
  "global.tips.username": "Username",
  "global.tips.password": "Password",
  "global.tips.login": "Login",
  "global.tips.backHome": "Back Home",
  "global.tips.operation": "Operation",
  "global.tips.authorize": "Authorize",
  "global.tips.delete": "Delete",
  "global.tips.deleting": "Deleting",
  "global.tips.deleted.success": "Delete success",
  "global.tips.deleted.fail": "Delete fail",
  "global.tips.updating": "Updating",
  "global.tips.update.success": "Update success",
  "global.tips.update.fail": "Update fail",
  "global.tips.edit": "Edit",
  "global.tips.search": "Search",
  "global.tips.reset": "Reset",
  "global.tips.deleteConfirm": "Do you Want to delete these items?",
  "global.theme.switchTheme": "Switch Theme",
  "global.theme.switchingTheme": "Switching Theme...",
  "global.theme.switchThemeDone": "Update theme successfully!",
  "global.theme.switchThemeFail": "Update theme fail",
  "title.login": "Login",
  "header.avator.account": "Account",
  "header.avator.logout": "Logout",
  "title.dashboard": "Dashboard",
  "title.documentation": "Documentation",
  "title.guide": "Guide",
  "title.project": "Project",
  "title.permission.route": "Route Permission",
  "title.permission.button": "Button Permission",
  "title.permission.config": "Permission Config",
  "title.account": "Account",
  "title.notFount": "404",
  "app.guide.guideIntro": "The guide page is useful for some people who entered the project for the first time. You can briefly introduce the features of the project. ",
  "app.guide.showGuide": "Show Guide",
  "app.guide.driverjs.closeBtnText": "Close",
  "app.guide.driverjs.prevBtnText": "Previous",
  "app.guide.driverjs.nextBtnText": "Next",
  "app.guide.driverjs.doneBtnText": "Done",
  "app.guide.driverStep.sidebarTrigger.title": "Sidebar Trigger",
  "app.guide.driverStep.sidebarTrigger.description": "Open and close the Sidebar",
  "app.guide.driverStep.notices.title": "Notices",
  "app.guide.driverStep.notices.description": "All notification messages were be displayed here",
  "app.guide.driverStep.switchLanguages.title": "Switch Languages",
  "app.guide.driverStep.switchLanguages.description": "You can click here to switch languages",
  "app.guide.driverStep.pageTabs.title": "Page Tabs",
  "app.guide.driverStep.pageTabs.description": "The history of the page you visited will be displayed here",
  "app.guide.driverStep.pageTabsActions.title": "Page Tabs Actions",
  "app.guide.driverStep.pageTabsActions.description": "Click here to do some quick operations to the Page Tabs",
  "app.guide.driverStep.switchTheme.title": "Switch Theme",
  "app.guide.driverStep.switchTheme.description": "Click here to switch system theme color",
@@- range $table := .Tables@@
  @@- $table := . @@
  "app.@@ .NameLowerCamel @@.title": "@@ .NameCamel @@ title",
  "app.@@ .NameLowerCamel @@.batchDeletion": "batch delete",
  "app.@@ .NameLowerCamel @@.chosen": "chosen",
  "app.@@ .NameLowerCamel @@.item": "item",
  "global.menu.@@ .NameLowerCamel @@": "@@ .NameCamel @@",
  "global.menu.@@ .NameLowerCamel @@.list": "@@ .NameCamel @@ List",
  "global.menu.@@ .NameLowerCamel @@.add": "@@ .NameCamel @@ Create",
  "global.menu.@@ .NameLowerCamel @@.update": "@@ .NameCamel @@ Update",
  @@- range .Fields  @@
  "app.@@ $table.NameLowerCamel @@.@@ .NameLowerCamel @@": "@@ .NameCamel @@",
  "app.@@ $table.NameLowerCamel @@.@@ .NameLowerCamel @@Required": "@@ .NameCamel @@ Is Required",
  @@- end @@
@@- end @@
  "": ""
}
