@@- $extra := .Extra @@
{
  "global.btn.create": "新建",
  "global.btn.edit": "修改",
  "global.btn.delete": "删除",
  "global.btn.submit": "提交",
  "global.btn.batchDeletion": "批量删除",
  "global.menu.home": "首页",
  "global.menu.dashboard": "面板",
  "global.menu.notfound": "未找到",
  "global.tips.chosen": "已选择 {count} 项",
  "global.tips.notfound": "对不起，您访问的页面不存在。",
  "global.tips.unauthorized": "对不起，您没有权限访问此页。",
  "global.tips.loginResult": "看到此页面代表您已登录。",
  "global.tips.goToLogin": "去登录",
  "global.tips.login": "登录",
  "global.tips.username": "用户名",
  "global.tips.password": "密码",
  "global.tips.rememberUser": "记住用户",
  "global.tips.backHome": "返回首页",
  "global.tips.operation": "操作",
  "global.tips.authorize": "授权",
  "global.tips.deleting": "正在删除",
  "global.tips.deleted.success": "删除成功，即将刷新",
  "global.tips.deleted.fail": "删除失败，即将刷新",
  "global.tips.updating": "正在更新...",
  "global.tips.update.success": "更新成功",
  "global.tips.update.fail": "更新失败",
  "global.tips.search": "搜索",
  "global.tips.reset": "重置",
  "global.tips.deleteConfirm": "确定要删除此条数据吗？",
  "global.theme.switchTheme": "切换主题",
  "global.theme.switchingTheme": "切换主题中...",
  "global.theme.switchThemeDone": "主题更新成功",
  "global.theme.switchThemeFail": "主题更新失败",
  "header.avator.account": "个人设置",
  "header.avator.logout": "退出登录",
  "title.login": "登录",
  "title.dashboard": "首页",
  "title.documentation": "文档",
  "title.guide": "引导页",
  "title.permission.route": "路由权限",
  "title.permission.button": "按钮权限",
  "title.permission.config": "权限配置",
  "title.account": "个人设置",
  "title.project": "项目管理",
  "title.notFount": "404",
  "app.guide.guideIntro": "引导页对于一些第一次进入项目的人很有用，你可以简单介绍下项目的功能。",
  "app.guide.showGuide": "打开引导",
  "app.guide.driverjs.closeBtnText": "关闭",
  "app.guide.driverjs.prevBtnText": "上一步",
  "app.guide.driverjs.nextBtnText": "下一步",
  "app.guide.driverjs.doneBtnText": "完成",
  "app.guide.driverStep.sidebarTrigger.title": "Siderbar开关",
  "app.guide.driverStep.sidebarTrigger.description": "打开和关闭Siderbar",
  "app.guide.driverStep.notices.title": "通知中心",
  "app.guide.driverStep.notices.description": "所有通知消息都会显示在这里",
  "app.guide.driverStep.switchLanguages.title": "切换语言",
  "app.guide.driverStep.switchLanguages.description": "你可以点击这里来切换语言",
  "app.guide.driverStep.pageTabs.title": "页面标签",
  "app.guide.driverStep.pageTabs.description": "你的浏览历史会在这里集中显示",
  "app.guide.driverStep.pageTabsActions.title": "标签操作栏",
  "app.guide.driverStep.pageTabsActions.description": "点击这里可以对页面标签做一些快捷操作",
  "app.guide.driverStep.switchTheme.title": "切换主题",
  "app.guide.driverStep.switchTheme.description": "点击这里切换系统主题颜色",
@@- range $table := .Tables@@
  @@- $table := . @@
  "app.@@ .NameLowerCamel @@.title": "@@ .NameCamel @@ title",
  "app.@@ .NameLowerCamel @@.batchDeletion": "batch delete",
  "app.@@ .NameLowerCamel @@.chosen": "chosen",
  "app.@@ .NameLowerCamel @@.item": "item",
  "global.menu.@@ .NameLowerCamel @@": "@@ .NameCamel @@",
  "global.menu.@@ .NameLowerCamel @@.list": "@@ .NameCamel @@ List",  
  "global.menu.@@ .NameLowerCamel @@.create": "新建@@ .NameCamel @@",
  "global.menu.@@ .NameLowerCamel @@.update": "更新@@ .NameCamel @@",
  @@- range .Fields  @@
  "app.@@ $table.NameLowerCamel @@.@@ .NameLowerCamel @@": "@@ .NameCamel @@",
  "app.@@ $table.NameLowerCamel @@.@@ .NameLowerCamel @@Required": "@@ .NameCamel @@ Is Required",
  @@- end @@
@@- end @@
  "": ""
}